  
  /*intex.php*/

.navbar-logo{

height: 40px;
width: 40px;
left: 0px;
top: 0px;
border-radius: 0px;

}


/*.bg-nav{background: #FDFF8E;}*/


.slide-img{ height: 400px; 
	object-fit: cover;
    

  }

.card-title{ font-weight: bolder;}

.bd-placeholder-img{ object-fit: cover;

}  


.ok{  font-weight: bolder;  } 


.timeline {

  list-style: none;
}

  
  .featurette-heading{

  	font-weight: bolder;
  }


.section-heading{ font-weight: bolder;} 




 /*intex.php*/




/* contact.php*/
/*.form-gradient{ background-image: url(https://images.hdqwalls.com/download/mountain-cave-5k-3l-1366x768.jpg); } */
/* contact.php*/
